@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Roboto', 'Raleway', 'YuGothic', 'MS PGothic', sans-serif;
  font-weight: 100;
  line-height: 2.5;
  color: #fff;
}
#content {
    background: #151515 url('../images/bg.jpg') no-repeat fixed;
    background-size: cover;
}
#wrapper-member {
  background-color: #fff;
  border: 14px solid #535196;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a {
  color: #535196;
}

/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: nomal;
}
.heading-band {
  color: #3f3f3f;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #fff;
}
.heading::before {
  bottom: 5px;
}
.button {
  display: inline-block;
  width: 120px;
  margin: 45px 40px 40px;
  padding: 15px 10px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition: .3s;
}
.button {
  position: relative;
  z-index: 1;
}
.button::after {
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  margin: 0;
  background: #535196;
  transition: .3s;
}
.button:hover::after {
  width: 100%;
}
.heading-sm {
  font-size: 1.7rem;
  text-align: center;
  font-weight: lighter;
}
.br-sp {
  display:none;
}
#social-icon a {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 0;
  color: #fff;
}
#social-icon i {
  width: 50px;
  height: 50px;
  margin: 0px;
  line-height: 50px;
  text-align: center;
}
#social-icon i::before { padding: 0; line-height: 50px; }
#social-icon .fa-twitter { background: #00a1e9; }
#social-icon .fa-youtube { background: #CC181E; }

/* --------------------------------
 * header
 * -------------------------------- */
.header {
  padding: 100px 30px 250px 30px;
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 1px;
  margin: 0 20px;
  background-color: #fff;
  vertical-align: middle;
}
.site-title {
  margin: 30px 0 30px;
  font-size: 7.6rem;
}
.site-title-main {
  font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.site-title-common {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #3f3f3f;
}
.site-description {
  color: #fff;
  font-size: 1.6rem;
}
.buttons .button {
  margin: 10px;
}


/* --------------------------------
 * about
 * -------------------------------- */
.about {
  padding: 113px 0px 100px;
}

/* --------------------------------
 * culture
 * -------------------------------- */
.culture {
  padding: 200px 30px;
}
.culture-wrapper {
  display: table;
  width: 100%;
  margin-top: 30px;
  table-layout: fixed;
}
.culture-box {
  width: 400px;
　overflow: hidden;
　padding: 15px;
}
.culture-text-box {
  overflow: hidden;
}

.culture-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}
/* --------------------------------
 * photo
 * -------------------------------- */
.photo {
  padding: 80px 30px;
  /*background-color: #383634;*/
}
.photo-wrapper {
  display: table;
  width: 100%;
  margin-top: 30px;
  table-layout: fixed;
}
.photo-box {
  width: 400px;
　overflow: hidden;
　padding: 15px;
}
.photo-image-box {
  padding-right: 15px;
  float: left;
}
.photo-text-box {
  overflow: hidden;
}
.photo-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}

/* --------------------------------
 * social
 * -------------------------------- */
.social {
  padding: 80px 30px;
  /*background-color: #383634;*/
}
.social-wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.social-box {
  width: 400px;
　overflow: hidden;
　padding: 15px;
}
.social-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}

/* --------------------------------
 * footer
 * -------------------------------- */
#footer {
  padding: 12px 0;
  font-size: 1.3rem;
  color: #000;
}
.footer-band {
  color: #3f3f3f;
}

/* --------------------------------
 * member page
 * -------------------------------- */
 .header-member {
   margin-bottom: 30px;
 }
 .member-text {
   font-size: 1.7rem;
   line-height: 2;
   overflow: hidden;
   color: #3f3f3f;
 }
 .flexbox{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  height: 100vw; /* ビューポート(幅)を基準に表示高を指定 */
}
.item{
    width: 25%;
    margin-bottom: 30px;
}
/* --------------------------------
 * live page
 * -------------------------------- */
 .header-band {
   padding: 20px 30px 20px 30px;
   background-color: #fff;
 }
.footer-band {
  background-color: #fff;
}
/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
  #content {
    background: #151515;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  #content {
    background: #151515 url('../images/bg_sp.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.3rem;
  }
  #wrapper {
    border: 7px solid #535196;
  }
  #content-member {
    background: #ee6e73
    font-size: 1.3rem;
  }
  .heading {
    margin-top: 20px;
    font-size: 2.2rem;
  }
  .heading-band {
    color: #3f3f3f;
    font-family: 'YuGothic';
    font-weight: lighter;
  }
  .button:hover {
    opacity: 1;
  }
  .br-sp {
    display:block;
  }
  /* --- header --- */
  .header {
    padding: 150px 30px 180px;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

  /* --- about --- */
  .about {
    padding: 0px 30px 150px;
  }

  .about-text {
    line-height: 1.8;
  }

  /* --- culture --- */
  .culture {
    padding: 0px 30px 150px;
  }
  .culture-box {
    display: block;
  }
  .culture-image {
    display: none;
  }
  .culture-description {
    position: relative;
  }
  .culture-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }

  /* --- photo --- */
  .photo {
    padding: 0px 30px 100px;
  }
  .photo-box {
    display: block;
  }
  .photo-image {
    display: none;
  }
  .photo-description {
    position: relative;
  }
  .photo-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }

  /* --- social --- */
  .social {
    padding: 80px 30px 80px;
  }
  .social-box {
    display: block;
  }
  .social-image {
    display: none;
  }
  .social-description {
    position: relative;
  }
  .social-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }

  /*gnavi*/
  #gnavi-sp {
  	width:100%;
  	height: 50px;
  	border:solid 2px #535196;
  	display:-moz-box;
  	display:-webkit-box;
  	display:-webkit-flex;
  	display:-ms-flexbox;
  	display:flex;
  	-moz-box-orient:horizontal;
  	-moz-box-direction:normal;
  	-webkit-box-orient:horizontal;
  	-webkit-direction:normal;
  	-ms-flex-direction:row;
  	-webkit-flex-direction:row;
  	flex-directioln:row;
  	-moz-box-pack:end;
  	-webkit-box-pack:end;
  	-ms-flex-pack:end;
  	-webkit-justify-content:flex-end;
  	justify-content:flex-end;
      background-color:#535196;
      overflow:hidden;
      position: fixed;
      z-index: 2;
      left: 0;
      bottom: 0;/*"bottom"を"top"に変えることによりヘッダーメニューになります*/
  }

  #gnavi-sp > a {
      font-size: 1.2rem;
  	  width:25%;
      line-height:50px;
      text-align: center;
      text-decoration: none;
      color: #FFFFFF;
      border-right: solid 2px #535196;
  }
  /*gnavi-sp*/

  /* --- member page --- */
  .member-text {
    font-size: 1.2rem;
    line-height: 2;
    overflow: hidden;
    color: #3f3f3f;
  }
  #wrapper-member {
    background-color: #fff;
    border: 7px solid #535196;
  }
  .flexbox{
    height:220vw;
  }
  /* 2カラム */
  .flexbox .item{
    width: 50%;
  }
}
