@charset "UTF-8";

/* --------------------------------
 * smart phone - start
 * -------------------------------- */

 /* --------------------------------
  * base
  * -------------------------------- */

 html {
   font-size: 62.5%;
   line-height: 1.4;
 }
 body {
   text-align: center;
   font-size: 1.2rem;
   font-family: 'Roboto', 'YuGothic', 'MS PGothic', sans-serif;
   font-weight: 300;
   letter-spacing: 2px;
   color: #fff;
 }
 *, *::before, *::after {
   box-sizing: border-box;
 }
 a {
   color: #673AB7;
 }
 .black-text {
   color: #000;
 }
.white-text {
  color: #fff;
}

 #content {
   border: 7px solid #673AB7;
 }

 /* --------------------------------
  * parts
  * -------------------------------- */

  .heading {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 100;
    position: relative;
    display: inline-block;
  }
  .heading::before,
  .heading::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #fff;
  }

  /* button & animation */

   .button {
     display: inline-block;
     width: 25vw;
     margin: 10px 40px;
     padding: 15px 10px;
     border: 1px solid #000;
     background: transparent;
     color: #000;
     text-align: center;
     text-decoration: none;
     line-height: 1;
     transition: .3s;
     z-index: 1;
   }
   .button::after {
     display: block;
     position: absolute;
     z-index: -1;
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     margin: 0;
     background: #673AB7;
     transition: .3s;
   }
   .button:hover::after {
     width: 100%;
   }
   .buttons .button {
     margin: 10px;
   }
  /* button & animation */

  /*gnavi-sp*/

   #gnavi-sp {
     width:100%;
     height: 50px;
     border:solid 2px #673AB7;
     display:-moz-box;
     display:-webkit-box;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
     -moz-box-orient:horizontal;
     -moz-box-direction:normal;
     -webkit-box-orient:horizontal;
     -webkit-direction:normal;
     -ms-flex-direction:row;
     -webkit-flex-direction:row;
     flex-directioln:row;
     -moz-box-pack:end;
     -webkit-box-pack:end;
     -ms-flex-pack:end;
     -webkit-justify-content:flex-end;
     justify-content:flex-end;
     background-color:#673AB7;
     overflow:hidden;
     position: fixed;
     z-index: 2;
     left: 0;
     bottom: 0;
   }

   #gnavi-sp > a {
     font-size: 16px;
     width:25vw;
     line-height:45px;
     text-align: center;
     text-decoration: none;
     color: #FFFFFF;
     border-right: solid 2px #673AB7;
   }

   /*gnavi-sp*/

  /*diplay*/
    .br-sp {
      display: block;
    }
  /* display */

  /* social icon */

   #social-icon a {
     display: inline-block;
     margin: 0 5px 5px 0;
     padding: 0;
     color: #000;
   }
   #social-icon i {
     width: 50px;
     height: 50px;
     margin: 0px;
     line-height: 50px;
     text-align: center;
   }
   #social-icon i::before { padding: 0; line-height: 50px; }
   #social-icon .fa-twitter { background: #00a1e9; }
   #social-icon .fa-youtube { background: #CC181E; }

   #social-box {
     margin-bottom: 30px;
   }

  /* social icon */

  /* text-parts */

  .text-l{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    padding: 0;
  }
  .text-m{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 0;
  }
  .text-s{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.0rem;
    padding: 0;
  }

  /* text-parts */

  /* --------------------------------
   * parts
   * -------------------------------- */

   /* --------------------------------
   * header
   * -------------------------------- */

   .header {
     background-color: #fff;
     padding-bottom: 10px;
   }

   .site-title {
     display: block;
     margin: 0;
     font-family: 'Roboto', 'YuGothic', sans-serif;
     font-size: 3.6rem;
     font-weight: lighter;
   }

   /* flexbox item */

   .flexbox{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    height: 100vw; /* ビューポート(幅)を基準に表示高を指定 */
   }
   .item{
      width: 25%;
      margin-bottom: 30px;
   }

   /* flexbox item */

  /* --------------------------------
   * live page
   * -------------------------------- */
    .footer {
       background-color: #fff;
    }

  /* --------------------------------
   * live page
   * -------------------------------- */

  /* --------------------------------
   * smart phone - end
   * -------------------------------- */
  /* --------------------------------
   * tablet - start
   * -------------------------------- */

  @media (max-width: 1024px) {
    #content {
      background: #000;
      background-size: cover;
    }

  /* --------------------------------
   * tablet - end
   * -------------------------------- */

  /* --------------------------------
   * desktop - start
   * -------------------------------- */
@media all and (min-width: 920px) {
    .heading {
      position: relative;
      display: inline-block;
      font-family: 'Roboto', 'YuGothic', sans-serif;
      font-size: 3.6rem;
      font-weight: nomal;
    }
    .heading::before,
    .heading::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #fff;
    }

    /* button & animation */

     .button {
       display: inline-block;
       width: 120px;
       margin: 10px 40px;
       padding: 15px 10px;
       border: 1px solid #000;
       background: transparent;
       color: #000;
       text-align: center;
       text-decoration: none;
       line-height: 1;
       transition: .3s;
       z-index: 1;
     }
     .button::after {
       display: block;
       position: absolute;
       z-index: -1;
       top: 0;
       left: 0;
       width: 0;
       height: 100%;
       margin: 0;
       background: #673AB7;
       transition: .3s;
     }
     .button:hover::after {
       width: 100%;
     }
     .buttons .button {
       margin: 10px;
     }
   /* button & animation */

   /*diplay*/
     .br-sp {
       display: none;
     }
   /*diplay*/
   /* social icon */

    #social-icon a {
      display: inline-block;
      margin: 0 5px 5px 0;
      padding: 0;
      color: #000;
    }
    #social-icon i {
      width: 50px;
      height: 50px;
      margin: 0px;
      line-height: 50px;
      text-align: center;
    }
    #social-icon i::before { padding: 0; line-height: 50px; }
    #social-icon .fa-twitter { background: #00a1e9; }
    #social-icon .fa-youtube { background: #CC181E; }

    #social-box {
      margin-bottom: 30px;
    }

   /* social icon */
   /* text-parts */

   .text-l{
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     font-size: 3.6rem;
     padding: 0;
   }
   .text-m{
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     font-size: 2.4.rem;
     padding: 0;
   }
   .text-s{
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     font-size: 1.6rem;
     padding: 0;
   }

   /* text-parts */

  /* --------------------------------
   * header
   * -------------------------------- */

   .site-title {
     display: block;
     margin: 0;
     font-family: 'Roboto', sans-serif;
     font-size: 5rem;
     font-weight: lighter;
     color: #000;
   }

  /* --------------------------------
   * header
   * -------------------------------- */

  /* --------------------------------
   * footer
   * -------------------------------- */



  /* --------------------------------
   * footer
   * -------------------------------- */
}
   /* --------------------------------
    * desktop - end
    * -------------------------------- */
