@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  /*color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Open Sans', 'Mplus 1p', 'MS PGothic', sans-serif;
  font-weight: normal;*/
}
#content {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Open Sans', 'Mplus 1p', 'MS PGothic', sans-serif;
  font-weight: normal;
}
#wrapper {
  background: #151515 url('../images/bg.jpg') no-repeat fixed;
  background-size: cover;
}
#wrapper-member {
  color: #000;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Open Sans', 'Mplus 1p', 'MS PGothic', sans-serif;
  font-weight: normal;
  background-color: #fff;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a {
  color: #ee6e73;
}

/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  font-weight: nomal;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #fff;
}
.heading::before {
  bottom: 5px;
}
.button {
  display: inline-block;
  width: 120px;
  margin: 45px 40px 40px;
  padding: 15px 10px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition: .3s;
}
.button {
  position: relative;
  z-index: 2;
}
.button::after {
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  margin: 0;
  background: #C9D525;
  transition: .3s;
}
.button:hover::after {
  width: 100%;
}
.heading-sm {
  font-size: 1.7rem;
  text-align: center;
  font-weight: lighter;
}
.br-sp {
  display:none;
}
#social-icon a {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 0;
  color: #fff;
}
#social-icon i {
  width: 50px;
  height: 50px;
  margin: 0px;
  line-height: 50px;
  text-align: center;
}
#social-icon i::before { padding: 0; line-height: 50px; }
#social-icon .fa-twitter { background: #00a1e9; }
#social-icon .fa-youtube { background: #CC181E; }

/* --モーダルメニュー-- */

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.menu-btn span {
    color: #000;
}

.menu-btn span:after {
    content: attr(data-txt-menu);
}

.open .menu-btn span:after {
    content: attr(data-txt-close);
}

.menu {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
}

.menu ul {
    display: table-cell;
    vertical-align: middle;
}

.menu li {
    width: 300px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
}

.menu li a {
    display: block;
    font-size: 18px;
    color: #000;
}

.menu li a:hover {
    color: #999;
}


/* --------------------------------
 * header
 * -------------------------------- */
.header {
  padding: 170px 30px 250px 30px;
}
.header-band {
  padding: 170px 30px 30px 30px;
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 1px;
  margin: 0 20px;
  background-color: #fff;
  vertical-align: middle;
}
.site-title {
  margin: 30px 0 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 7.6rem;
}
.site-description {
  color: #fff;
  font-size: 1.6rem;
}
.buttons .button {
  margin: 10px;
}


/* --------------------------------
 * about
 * -------------------------------- */
.about {
  padding: 113px 0px 100px;
}
.about-text {
  margin: 30px 0;
  line-height: 2.5;
}


/* --------------------------------
 * culture
 * -------------------------------- */
.culture {
  padding: 200px 30px;
}
.culture-wrapper {
  display: table;
  width: 100%;
  margin-top: 30px;
  table-layout: fixed;
}
.culture-box {
  width: 400px;
　overflow: hidden;
　padding: 15px;
}
.culture-text-box {
  overflow: hidden;
}
.culture-text {
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
  overflow: hidden;
}

.culture-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}

/* --------------------------------
 * photo
 * -------------------------------- */
.photo {
  padding: 80px 30px;
  /*background-color: #383634;*/
}
.photo-wrapper {
  display: table;
  width: 100%;
  margin-top: 30px;
  table-layout: fixed;
}
.photo-box {
  width: 400px;
　overflow: hidden;
　padding: 15px;
}
.photo-image-box {
  padding-right: 15px;
  float: left;
}
.photo-text-box {
  overflow: hidden;
}
.photo-text {
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
  overflow: hidden;
}
.photo-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}

/* --------------------------------
 * social
 * -------------------------------- */
.social {
  padding: 80px 30px;
  /*background-color: #383634;*/
}
.social-wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.social-box {
  width: 400px;
　overflow: hidden;
　padding: 15px;
}
.social-text {
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
  overflow: hidden;
}
.social-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}

/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  padding: 12px 0;
  font-size: 1.3rem;
}

/* --------------------------------
 * member page
 * -------------------------------- */
 .header-member {
   margin-bottom: 30px;
 }
 .member-text {
   vertical-align: middle;
   font-size: 1.7rem;
   line-height: 2;
   overflow: hidden;
 }
 .flexbox{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  height: 100vw; /* ビューポート(幅)を基準に表示高を指定 */
}
.item{
    width: 25%;
    margin-bottom: 30px;
}

/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
  #content {
    background: #151515;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  #wrapper {background:none} /*PC用の背景はオフ*/
  /*#content::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background:url('../images/bg_sp.jpg') center/cover no-repeat; /*fixedをトル！*/
    -webkit-background-size:cover;/*Android4*/
  #content {
    background: #151515 url('../images/bg_sp.jpg') no-repeat fixed center;
    background-size: cover;
    font-size: 1.3rem;
  }
  #content-member {
    background: #ee6e73
    font-size: 1.3rem;
  }
  .heading {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .button:hover {
    opacity: 1;
  }
  .br-sp {
    display:block;
  }
  /* --- header --- */
  .header {
    padding: 150px 30px 180px;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

  /* --- about --- */
  .about {
    padding: 0px 30px 150px;
  }

  .about-text {
    line-height: 1.8;
  }

  /* --- culture --- */
  .culture {
    padding: 0px 30px 150px;
  }
  .culture-box {
    display: block;
  }
  .culture-image {
    display: none;
  }
  .culture-description {
    position: relative;
  }
  .culture-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }

  /* --- photo --- */
  .photo {
    padding: 0px 30px 100px;
  }
  .photo-box {
    display: block;
  }
  .photo-image {
    display: none;
  }
  .photo-description {
    position: relative;
  }
  .photo-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }

  /* --- social --- */
  .social {
    padding: 80px 30px 80px;
  }
  .social-box {
    display: block;
  }
  .social-image {
    display: none;
  }
  .social-description {
    position: relative;
  }
  .social-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }
  /* --- member page --- */
  .flexbox{
    height:220vw;
  }
  /* 2カラム */
  .flexbox .item{
    width: 50%;
  }
}